body{
    background: black;
    margin: 24px;
}

.center{
    margin: auto;
    width: 90%;    
    background: white;
    padding: 12px;
    height: 100%;
}

label{
    font-weight: bold;
}

.scrolled{
    height: 120px;
    width: 640px;
    overflow: auto;
    border: 1px solid black;
    padding: 4px;
}